TELEGRAM_TOKEN=""
OPENAI_API_TOKEN=""
ANTHROPIC_API_KEY=""
SQLITE_PATH="./languagebot.db"
ALLOWED_TELEGRAM_USER_IDS=""
LANGEKKO_SCHEME="http"
LANGEKKO_ADDR="localhost"
LANGEKKO_PORT="12833"
SESSION_SECRET="secret"
CACHE_CLEAN_INTERVAL_HOURS="24"
DAILY_API_CAP="300"
